# ====== CONFIGURATION ======
NODE_ENV=development
PORT=3000

# JWT Configuration
JWT_ACCESS_SECRET=your-secret-key-here
JWT_REFRESH_SECRET=your-other-secret-key-here
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=30d

# ====== DB CONTAINER======
CONTAINER_NAME=boulder-db
HOST=127.0.0.1
DOCKER_HOST=127.0.0.1:5432
POSTGRES_PORT=5432
ROOT_USER=postgres
ROOT_PASSWORD=your_secure_password_here
DATABASE=boulder_stack
APP_USER=boulder_user
USER_PASSWORD=your_secure_password_here

# === Prisma ===
DATABASE_URL=postgresql://$APP_USER:$USER_PASSWORD@$HOST:${PORT}/$DATABASE
# Schadow url for root rights and migrations
SHADOW_DATABASE_URL=postgresql://$ROOT_USER:$ROOT_PASSWORD@$HOST:${PORT}/${DATABASE}_shadow

