# ====== CONFIGURATION ======
NODE_ENV=development
PORT=3000
HOST=127.0.0.1
FRONTEND_URL=http://localhost:5173

# JWT Configuration
JWT_ACCESS_SECRET=your-secret-key-here
JWT_REFRESH_SECRET=your-other-secret-key-here
ACCESS_TOKEN_EXPIRY=30m  # in ms.StringValue '30m' or '7d'
REFRESH_TOKEN_EXPIRY=30d # in ms.StringValue '30m' or '7d'
CRYPTO_HASH_ROUNDS=11

# ====== DB CONTAINER======
CONTAINER_NAME=boulder-db
CONTAINER_HOST=127.0.0.1:5432
POSTGRES_PORT=5432
ROOT_USER=postgres
ROOT_PASSWORD=your_secure_password_here
DATABASE=boulder_stack
APP_USER=boulder_user
USER_PASSWORD=your_secure_password_here

# === Prisma ===
DATABASE_URL=postgresql://$APP_USER:$USER_PASSWORD@$HOST:${PORT}/$DATABASE
# Schadow url for root rights and migrations
SHADOW_DATABASE_URL=postgresql://$ROOT_USER:$ROOT_PASSWORD@$HOST:${PORT}/${DATABASE}_shadow

